#container {
  background-color: purple;
  height: 200px;
}
#btn {
  display: none;
}
@media only screen and (orientation: landscape) {
  #container {
    background-color: orange;
  }
  #btn {
    display: block;
  }
  #form {
    display: none;
  }
}
